.ram {
    background-image: url('https://img.freepik.com/premium-vector/global-currency-background_115579-800.jpg?w=740');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  